
body{
	background-image:url("Images/email-pattern.png");
	background-attachment: fixed;
}
.pt{
	margin-top: 50px;
}
.port{
	font-family:sans-serif;
	font-weight: 100px;
	font-size: 20px
}
a[href="#"]{
	color:default;
}
.About{
	font-family:cursive;
	font-size:30px
}
.container1{
	margin-top:50px;
}
.container2{
	margin-top:100px;

}

.build{
	margin-top:250px;
}
input[type="text"]{
	
	box-shadow: 5px 5px 5px grey;
	box-sizing: 200px;
	
}
input[type="email"]{
	box-shadow: 5px 5px 5px grey;
	box-sizing: 200px;
	
}
.textarea{
	box-shadow: 5px 5px 5px grey;
	box-sizing: 200px;
	padding-left: 5px;
	

	
}
input[type="date"]{
	box-shadow: 5px 5px 5px grey;
	box-sizing: 200px;
	padding: 3px 3px
	
}


.DC{
	margin-left: 0px;
	font:small-caption;

}
.contact{
	font-family:Times, serif;
	color: #FFDEAD;
	border-radius: 3px
}
.project{
	margin-left: 700px;
	font:caption;
	font-family: cursive;
	font-size: 30px
}
.contactme{
	background-image:linear-gradient(rgba(10,10,10,0.5),rgba(10,10,10,0.5)),url("Images/emma-matthews-973230-unsplash.jpg");
	background-size: cover;
	border-radius: 5px;
}
.note{
	color: white;
}
.font-awesome{
	margin-left: 150px;
}
.rounded-image{
	border-radius: 50%;
	margin-left: 10px
}
.next{
	background-color:#4CAF50;
	color: white;
	padding:10px;
	border-radius:10px;
	margin-left:70%;
	
}
.previous{
	background-color:#4CAF50;
	color: white;
	padding:10px;
	border-radius:10px;
	margin-left:2%;
}
.wowslider{
	
}
.mide-head{
	font-family:cursive;
	font-size:3px;
	margin-left:3%
}
.sentences{
	margin-right:10px
}
footer{
	background-color:black;
	font-weight:70%;
	color: white;
	border-radius: 3px
}
.favourite{
	background-color:grey;
	color: white;
}
.mb{
	background-color:grey;
} 
.logoimage{
	border-radius:10%;
}
.html_image{
	border-radius:50%; 
	height:100px;
	width:120px;
}
.css_image{
	border-radius:50%;
	height:100px;
	width:120px;
}
.js_image{
	border-radius:50%;
	height:100px;
	width:120px;
}
.c_image{
	border-radius:50%;
	height:100px;
	width:120px;
}
.mysql_image{
	border-radius:0%;
	height:100px;
	width:120px;
}
.footer{
	padding:5px
}
a:hover{
	color:red;
}
a:visited{
	
}
